footer {
    background-image: url(./img/fondonegro.jpg);
}

.logo {
    padding-top: 5px;
    height: 45px;
    margin-left: 46%;
}
.logonav{
    height: 45px;
}
.logonav2{
    height: 45px;
    padding-left: 15px;
}


nav{
    width: 100%;
    background-image: url(./img/fondonegro.jpg);
}
.escudo {
    padding: 15px;
}

.navbar-brand{
    color:white;
}

.nav-link{
    color:white;
}

main{
    background-image: url(./img/fondogris.jpg);
    width: 100%;
    height: auto;
}

.c-blanco{
    color: white;
}